*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    min-height: 100vh;
    max-width: 100vw;
    line-height: 1.4;
    padding: 20px 40px;
}

.container{
    max-width: 1200px;
}

.heading-1{
    font-size: 40px;
    text-transform: uppercase;
}

.heading-2{
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.heading-3{
    font-size: 20px;
    text-transform: uppercase;
    color: rgba(80, 14, 211, 0.83);
    margin-left: 40px;
    padding-bottom: 20px;
}

.sub-heading{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-left: 10px;
}

.sub-heading p{
    font-weight: 700;
    text-transform: capitalize;
    margin-right: 10px;
}

.sub-heading span{
    color: #555;
    font-weight: 300;
    border-right: 1px solid #ccc;
    padding-right: 10px;
}

.sub-heading .importent{
    color: crimson;
    text-transform:uppercase;
    font-weight:300;
    border-left: 1px solid #ccc;
    padding-left: 20px;
}

/* HOME */
.home{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.home-img{
    width: 100%;
}

.list{
    display:grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.list img{
    width: 100%;
    height: 80%;
}

/* Article */
article > p{
    font-size: 20px;
    margin-bottom: 20px;
    columns: 3 25ch;
    column-gap: 40px;
    hyphens: auto;
    
}

article p:first-child::first-line{
    font-weight: 700;
    font-size: 25px;
}

/* blockquote */
blockquote{
    font-size: 20px;
    padding:10px 30px;
    margin-bottom: 40px;
    position: relative;
    
}

blockquote::before{
    content: open-quote;
    position: absolute;
    font-size: 150px;
    top: -48px;
    left:-4px;
    opacity: .3;
    color: #666;
}

.cards{
    columns: 25ch 3;
    gap: 40px;
    margin-bottom: 40px;
}

.card{
    font-size: 20px;
    border: 1px solid;
    padding: 10px 20px;
    break-inside: avoid;
}

@media (max-width: 879px){
    .home{
        grid-template-columns: 1fr;
    }

    .lists{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    }

    .list{
    grid-template-columns: 1fr 5fr;
    }

    .card{
        margin-bottom: 40px;
    }
}

@media(max-width:879px){
    .lists{
        grid-template-columns: 1fr;
    }
}