* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lalezar";
}

:root {
    --primary-color: #ecf0f3;
    --secondary-color: #292C35;
    --tertiary-color: rgba(0, 121, 255, 1);
    --login-back-1: #ecf0f3;
    --login-back-2: #111112;
    --login-color: #ecf0f3;
    --shadow-color-1: #cbced1;
    --shadow-color-2: #fff;
    --shadow-color-3: #b1b1b1;
    --input-color: #555;
    --h1-color: #292C35;
}

.dark-mode {
    /* background-color: black;
    color: white; */
    --primary-color: #292C35;
    --secondary-color: #ecf0f3;
    --tertiary-color: crimson;
    --login-back-1: #111112;
    --login-back-2: #050303;
    --login-color: rgb(32, 32, 32);
    --shadow-color-1: #3d3e3e;
    --shadow-color-2: rgb(0, 0, 0);
    --shadow-color-3: #525252;
    --input-color: rgb(166, 165, 165);
    --h1-color: #050303;
}


/* .dark-theme {
    --primary-color: #292C35;
    --secondary-color: #fff;
} */

@font-face {
    font-family: 'Lalezar';
    src: url('fonts/Lalezar.ttf') format('truetype'), url('fonts/Lalezar.eot') format('embedded-opentype'), url('fonts/Lalezar.otf') format(''), url('fonts/Lalezar.woff') format('woff'), url('fonts/Lalezar.woff2') format('woff2');
}

body {
    /* display: grid; */
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: #555;
    background-color: #ecf0f3;
    margin: 0;
    font-family: 'Lalezar';
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

li,
a,
button {
    font-size: 30px;
    text-decoration: none;
}

header {
    display: grid;
    /* justify-content: space-between; */
    grid-template-columns: 20% 70% 25%;
    /* grid-template-columns: 2fr 7fr 1fr; */
    align-items: center;
    padding: 30px 10%;
    background: rgb(54, 212, 152);
    background: linear-gradient(90deg, rgba(54, 212, 152, 1) 0%, rgba(0, 121, 255, 1) 100%);
    /* background: rgb(54, 212, 152);
    background: linear-gradient(90deg, rgba(54, 212, 152, 1) 0%, rgba(217, 211, 2, 1) 100%); */
    /* background: rgb(60,78,71);
    background: linear-gradient(90deg, rgba(60,78,71,1) 0%, rgba(0,0,0,1) 100%);  */
}

.nav_links ul {
    flex: 1;
    text-align: right;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    color: white;
}

.nav_links li a:hover {
    color: gold;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

button {
    padding: 9px 25px;
    background-color: gold;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: rgb(41, 41, 41);
}

button:hover {
    background-color: #23d25d;
    color: white;
}

.logo {
    width: 350px;
    transform: translate(60px, -10px);
    cursor: pointer;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
    border-radius: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

.title>p {
    color: var(--tertiary-color);
}

.label {
    background-color: #111;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-self: space-between;
    position: relative;
    padding: 15px;
    height: 26px;
    width: 50px;
}

.checkbox {
    opacity: 0%;
    position: absolute;
}

.checkbox:checked+.label .ball {
    transform: translateX(13px);
    --primary-color: #000106;
    --secondary-color: #fff;
}

.ball {
    background-color: #fff;
    position: absolute;
    height: 22px;
    width: 22px;
    transform: translate(-11px, 0px);
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.fa-moon {
    color: #f1c40f;
    font-size: 19px;
    transform: translate(14px, 0px);
}

.fa-sun {
    color: #f39c12;
    font-size: 19px;
    transform: translate(7px, 0px);
}

#moon {
    align-items: center;
    padding-bottom: 30px;
    margin: 0px;
}

body {
    background: var(--primary-color);
    transition: all 0.2s linear;
}

h1 {
    font-size: 75px;
    margin-bottom: -150px;
    color: #23d25d;
    text-shadow: var(--h1-color) 2px 2px 2px;
}

h4 {
    font-size: 40px;
    color: var(--tertiary-color);
}

.blog-section {
    width: 100%;
    display: grid;
}

.blog-section,
.section-content {
    /* width: 85%; */
    margin: 20px auto;
}

.blog-section,
.section-section,
.title {
    /* width: 60%; */
    text-align: center;
    /* margin: auto; */
}

.blog-section,
.section-content {
    font-size: 30px;
    color: var(--secondary-color);
    margin-top: 20px;
}

.blog-section,
.section-section,
.title,
.login {
    display: grid;
    justify-content: center;
}


/******************** LOGIN *******************/

.login {
    width: 430px;
    height: 700px;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    color: var(--login-back-2);
    background-color: var(--login-color);
    box-shadow: 13px 13px 15px, -13px -13px 20px var(--login-back-1);
    margin-top: 30px;
    margin-bottom: 100px;
    align-items: center;
    /* margin-right: 360px; */
    justify-content: center;
    text-align: center;
}

.fields {
    width: 100%;
    padding: 75px 5px 5px 5px;
}

.fields input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: var(--input-color);
    padding: 20px 10px 20px 5px;
}

.username,
.password {
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px var(--shadow-color-1), inset -8px -8px 8px var(--shadow-color-2);
}

.fields svg {
    /* color: #555; */
    height: 22px;
    margin: 5px 5px -8px 5px;
}

.signin-button {
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    transition: all 0.2s linear;
    box-shadow: 3px 3px 8px var(--shadow-color-3), -3px -3px 8px var(--shadow-color-2);
}


/* .signin-button:hover{
    color: #23d25d;
    background-color: #111;
} */
