* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lalezar";
}

:root {
    --primary-color: #fff;
    --secondary-color: #292C35;
    --tertiary-color: rgba(0, 121, 255, 1);
}

.dark-mode {
    /* background-color: black;
    color: white; */
    --primary-color: #292C35;
    --secondary-color: #fff;
    --tertiary-color: crimson;
}


/* .dark-theme {
    --primary-color: #292C35;
    --secondary-color: #fff;
} */

@font-face {
    font-family: 'Lalezar';
    src: url('fonts/Lalezar.ttf') format('truetype'), url('fonts/Lalezar.eot') format('embedded-opentype'), url('fonts/Lalezar.otf') format(''), url('fonts/Lalezar.woff') format('woff'), url('fonts/Lalezar.woff2') format('woff2');
}

body {
    align-items: center;
    /* background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px; */
}

li,
a,
button {
    font-size: 30px;
    text-decoration: none;
}

header {
    display: grid;
    /* justify-content: space-between; */
    grid-template-columns: 20% 70% 25%;
    /* grid-template-columns: 2fr 7fr 1fr; */
    align-items: center;
    padding: 30px 10%;
    background: rgb(54, 212, 152);
    background: linear-gradient(90deg, rgba(54, 212, 152, 1) 0%, rgba(0, 121, 255, 1) 100%);
    /* background: rgb(54, 212, 152);
    background: linear-gradient(90deg, rgba(54, 212, 152, 1) 0%, rgba(217, 211, 2, 1) 100%); */
    /* background: rgb(60,78,71);
    background: linear-gradient(90deg, rgba(60,78,71,1) 0%, rgba(0,0,0,1) 100%);  */
}

.nav_links ul {
    flex: 1;
    text-align: right;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    color: white;
}

.nav_links li a:hover {
    color: gold;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

button {
    padding: 9px 25px;
    background-color: gold;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: rgb(41, 41, 41);
    box-shadow: 1rem 1rem 1rem 0 rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: #23d25d;
    color: white;
}

.logo {
    width: 350px;
    transform: translate(60px, -10px);
    cursor: pointer;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
    border-radius: 80px;
    padding-left: 20px;
    padding-right: 20px;
    /* width: 350px;
    transform: translate(60px, -10px);
    cursor: pointer;
    box-shadow: 1rem 1rem 1rem 0 rgba(0, 0, 0, 0.5);
    background-color: #1f6ebd51;
    border-radius: 80px;
    padding-left: 20px;
    padding-right: 20px; */
}


/* .title{
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    padding: 130px 110px 130px 110px;
} */

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(100px, auto);
}

.card {
    /* background: linear-gradient(90deg, #f6feff, rgba(144, 160, 178, 0.615) 100%); */
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 0;
}

.blog-section {
    width: 100%;
}

.blog-section,
.section-content {
    width: 85%;
    margin: 20px auto;
}

.blog-section,
.section-section,
.title {
    /* width: 60%; */
    text-align: center;
    margin: auto;
}

.blog-section,
.section-content {
    font-size: 30px;
    color: var(--secondary-color);
    margin-top: 20px;
}

h1 {
    font-size: 75px;
    margin-bottom: 10px;
    color: #23d25d;
    text-shadow: var(--secondary-color) 2px 2px 2px;
}

h4 {
    font-size: 40px;
    color: var(--tertiary-color);
}

.posted-date {
    font-size: 17px;
    padding-top: 15px;
    color: var(--secondary-color);
    padding-bottom: 20px;
}

.image-section {
    margin-top: 60px;
    padding-top: 60px;
}

img {
    border-radius: 40px;
    width: 100%;
}

.button {
    background-color: #23d25d;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    outline: none;
    transition: all 0.3s ease 0s;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
}

.button:hover {
    background-color: gold;
    color: #000106;
}

.title>p {
    margin-bottom: 50px;
    color: var(--tertiary-color);
}

.article>p {
    padding-bottom: 40px;
}


/* Dark Mode */

.label {
    background-color: #111;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-self: space-between;
    position: relative;
    padding: 15px;
    height: 26px;
    width: 50px;
    box-shadow: 1rem 1rem 1rem 0 rgba(0, 0, 0, 0.5);
}

.checkbox {
    opacity: 0%;
    position: absolute;
}

.checkbox:checked+.label .ball {
    transform: translateX(13px);
    --primary-color: #000106;
    --secondary-color: #fff;
}

.ball {
    background-color: #fff;
    position: absolute;
    height: 22px;
    width: 22px;
    transform: translate(-11px, 0px);
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.fa-moon {
    color: #f1c40f;
    font-size: 19px;
    transform: translate(14px, 0px);
}

.fa-sun {
    color: #f39c12;
    font-size: 19px;
    transform: translate(7px, 0px);
}

body {
    background: var(--primary-color);
    transition: all 0.2s linear;
}

#moon {
    align-items: center;
    padding-bottom: 30px;
    margin: 0px;
}

.container {
    max-width: 1170px;
    /* background-color: #23d25d; */
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row ul {
    list-style: none;
}


/* -------------- footer ------------ */

.footer {
    background-color: #24262b;
    padding: 70px 0;
    margin-top: 300px;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    padding: 40px 30px 40px 30px;
}

.footer-col h4 {
    font-size: 35px;
    color: #fff;
    margin-bottom: 45px;
    /* font-weight: 500; */
    position: relative;
    /* background-color: red; */
}

.footer-col h4::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: -10px;
    background-color: #23d25d;
    height: 2px;
    width: 200px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #fff;
    padding-right: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    /* height: 50px;
    width: 50px;
    background-color:rgba(255,255,255,0.2); */
    margin: 0 25px 25px 0;
    text-align: center;
    color: #fff;
    transition: all 0.4s ease;
}

.footer-col .social-links .telegram:hover {
    color: #0088CC;
}

.footer-col .social-links .twit:hover {
    color: deepskyblue;
}

.footer-col .social-links .insta:hover {
    color: #e91e63;
}

.footer-col .social-links .youtube:hover {
    color: red;
}
